*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
body{
    background-color: #004b4b;
    font-family: 'Poly', serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* /common */

/* header */
header{
    height: 85px;
    background-color: #003e45;
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-nav-list{
    display: flex;
}
.list-item-menu a{
    color: white;
}
.list-item-menu {
    margin: 0 15px;
}
.ico-menu{
    margin-left: 5px;
    font-size: 14px;
}
/* /header */

/* main */
main{
    display: flex;
    margin-top: 30px;
    padding: 0;
}
    /* contenitore generale */
    .list-container{
        display: flex;

    }
    .main-list-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: #26a0a4;
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        margin: 0 20px;
    }
    .type-of-prodotto{
        line-height: 2.4;
        margin-left: 25px;
    }
    .type-of-prodotto p{
        font-size: 15px;
    }
    p{
        font-size: 13px;
        color: white;
    }
    /* immagine logo sezione */
    .logo-container{
        width: 35px;
        position: absolute;
        top: 5px;
        left: 10px;
    }
    .logo-container img{
        width: 100%;
        border-radius: 30px;
    }
    .cat-logo{
        width: 35px;
        height: 35px;
    }
    .cat-logo img{
        height: 100%;
        border-radius: 50%;
    }
    /* /immagine logo sezione */
    /* immagine prodotto */
    .product-image-container{
        width: 170px;
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .product-image-container img{
        width: 100%;
    }
    /*  / immagine prodotto */
    .mt-10{
        margin: 10px 0;
    }
    .font-s-16{
        font-size: 15px;
        color: #005063;
    }
/* main */